<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>Sign up</title>
        <link href="res/style.css" rel="stylesheet" type="text/css">

        <!--for posting data-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript"></script>
        <script src="res/js/scripts.js" type="text/javascript"></script>
        <script src="res/js/animate-bg.js" type="text/javascript"></script>
	</head>
	<body>
        <div id="header">
            <div id="logo">
                <a href="public/index.jsp"><img src="res/images/foodservice.png"></a>
            </div>
            <div id="menu">
                <ul id="nav">
                    <li><a href="public/index.jsp">Home</a></li>
                    <li><a href="${root}/view/public/service.jsp">Service</a></li>
                    <li><a href="#">Work</a></li>
                    <li><a href="private/redirect">Profile</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="leftBar">
                <p>Leftbar</p>
            </div>
            <div id="centralBar">
                <h2><p>Friends</p></h2>
            </div>
            <div id="rightBar">
                <p>Rightbar</p>
            </div>
        </div>
	</body>
</html>