<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Food Service</title>
    <link href="res/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="/res/js/animate-bg.js" type="text/javascript"></script>
    <script src="/res/js/scripts.js" type="text/javascript"></script>
</head>
<body>
<header>
    <div id="logo">
        <div class="logoLink"><a href="index.html">FoodService</a></div>
    </div>
    <div id="menu">
        <ul id="nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="service.html">Service</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="/view/private/redirect">Profile</a></li>
        </ul>
    </div>
    <input class="search"/>
    <div id="profileHeader">
<!--        <form>-->
            <button id="userSignUp" formaction="register_user.html"><p>Sign in</p></button>
            <button id="managerSignUp" onclick="dropList()"><p>Sign up</p></button>
            <ul id="dropList">
<!--                Sign up-->
<!--
                <li>user</li>
                <li>manager</li>
                <li>administator</li>
-->
            </ul>
<!--
            <select class="selectButton">
                <option class="option">Sign up as user</option>
                <option class="option">Sign up as manager</option>
                <option class="option">Sign up as administator</option>
            </select>
-->
<!--        </form>        -->
<!--
        <div id="profileHeaderText">
            <p style="display: inline-block; vertical-align: top; width: 120px">Ivan Yakukhno</p>
            <p style="vertical-align: top; width: 120px">sokole2@yandex.ru</p>
        </div>    
        <button style="display: inline-block; vertical-align: top;" onclick="javascript:formSubmit()"><p>Logout</p></button>
-->
    </div>
</header>
<div id="content">
<!--
    <div id="leftBar">
        <p>Leftbar</p>
    </div>
-->
<!--
    <div id="centralBar">
        <p style="text-align: center;">Welcome!</p>
        <br>
        <p><img src="/res/images/welcome_page.png" style="margin-left: 22px" /></p>
    </div>
-->
<!--
    <div id="rightBar">
        <form>
            <button id="userSignUp" formaction="register_user.html"><p>Sign up as user</p></button>
            <br>
            <button id="managerSignUp" formaction="register_manager.html"><p>Sign up as manager</p></button>
        </form>
    </div>
-->
</div>
<footer>
    GRYI production
</footer>
</body>
</html>