<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Food Service</title>
    <link href="res/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="/res/js/animate-bg.js" type="text/javascript"></script>
    <script src="/res/js/scripts.js" type="text/javascript"></script>
</head>
<body>
<div id="header">
    <div id="logo">
        <a href="index.html"><img src="/res/images/foodservice.png"></a>
    </div>
    <div id="menu">
        <ul id="nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="$service.html">Service</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="/view/private/redirect">Profile</a></li>
        </ul>
    </div>
    <div id="profileHeader">
        <div id="profileHeaderText">
            <p style="display: inline-block; vertical-align: top; width: 120px">Ivan Yakukhno</p>
            <p style="vertical-align: top; width: 120px">sokole2@yandex.ru</p>
        </div>    
        <button style="display: inline-block; vertical-align: top;" onclick="javascript:formSubmit()"><p>Logout</p></button>
    </div>
</div>
<div id="content">
    <div id="leftBar">
        <p>Leftbar</p>
    </div>
    <div id="centralBar">
        <p style="text-align: center;">Welcome!</p>
        <br>
        <p><img src="/res/images/welcome_page.png" style="margin-left: 22px" /></p>
    </div>
    <div id="rightBar">
        <form>
            <button id="userSignUp" formaction="register_user.html"><p>Sign up as user</p></button>
            <br>
            <button id="managerSignUp" formaction="register_manager.html"><p>Sign up as manager</p></button>
        </form>
    </div>
</div>
</body>
</html>