<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    
    <http>
        <intercept-url pattern='/view/private/manager/*' access="ROLE_MANAGER"/>
        <intercept-url pattern='/view/private/user/*' access='ROLE_USER' />

        <form-login login-page="/view/public/login.jsp"
                    username-parameter="username"
                    password-parameter="password" />
        <remember-me remember-me-parameter="remember-me" />
        <logout logout-success-url="/"/>
    </http>

    <authentication-manager>
        <authentication-provider ref="authenticationProvider"/>
        <!--<authentication-provider>-->
            <!--<user-service id="userDetailsService">-->
                <!--<user name="abdellah" password="32fe5bbf04adc744455c92fa7b71e9dca8ce729c" authorities="ROLE_CLOUD_USER" />-->
                <!--<user name="guest"    password="35675e68f4b5af7b995d9205ad0fc43842f16450" authorities="ROLE_CLOUD_USER" />-->
            <!--</user-service>-->
        <!--</authentication-provider>-->
    </authentication-manager>
    <!---->
    <beans:bean id="authenticationProvider" class="com.kpi.education.rest.config.security.CustomAuthenticationProvider"/>
</beans:beans>