<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    
    <http>
        <intercept-url pattern='/view/private/redirect' access='ROLE_USER, ROLE_MANAGER' />
        <intercept-url pattern='/view/private/friends.jsp' access='ROLE_USER, ROLE_MANAGER' />
        <intercept-url pattern='/view/private/messages.jsp' access='ROLE_USER, ROLE_MANAGER' />
        <form-login
                login-page="/view/public/login.jsp"
                default-target-url="/welcome"
                authentication-failure-url="/view/public/login.jsp?error"
                username-parameter="username"
                password-parameter="password" />
        <logout logout-success-url="/" />
        <remember-me  />
        
    </http>

    <authentication-manager>
        <authentication-provider ref="authenticationProvider"/>
    </authentication-manager>

    <beans:bean id="authenticationProvider" class="com.kpi.education.rest.config.security.CustomAuthenticationProvider"/>
    <!--<beans:bean id="roleBasedAuthenticationSuccessHandler" class="com.kpi.education.rest.config.security.RoleBasedAuthenticationSuccessHandler"/>-->


</beans:beans>