body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
    background: url(images/wood.png);
	<!--background: #f5f0e0 url(images/noise.png);-->
}

#header {
    vertical-align: top;
	height: 150px;
    margin-left: 50px;
    display: inline-block;
	background: url(images/bg1.png) center top no-repeat;
    <!--background-color: #eee9d9;-->
}

#logo {
    vertical-align: top;
    margin-left: 25px;
    height: 150px;
    width: 250px;
    display: inline-block;
/*    background: url(images/foodservice.png);*/
}

#content {
    top: 150px;
    margin: 0 auto;
    width: 1366px;
}

#leftbar {
    vertical-align: top;
    margin-left: 25px;
	width: 250px; 
	height: 385px;
	padding: 20px 20px 35px 20px; 
	font-size: 20px;
    display: inline-block;
	background-color: #FFFBED;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
	color : #000000;
}

#centralbar {
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
	width: 640px; 
	height: auto;
	padding: 15px 20px 35px 20px;
    font: Helvetica, Arial, Sans-Serif;
	font-size: 20px;
    text-shadow: 0 1px 3px #c4bda6;
    display: inline-block;
    background: #FFFBED;
    border-radius: 30px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
	color: #000000;
}

#rightbar {
	vertical-align: top;
	width: 250px; 
	height: 385px;
	padding: 20px 20px 35px 20px;
	font-size: 20px;
    display: inline-block;
	background-color: #FFFBED;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
	color : #000000;
}

#title {
    font: bold 16px Helvetica, Arial, Sans-Serif;
    text-shadow: 0 1px 3px #c4bda6;
	font-size: 25px;
}

input {
    font-size: 16px;
}

button {
    font: bold 14px Sans-Serif;
    color: #000000;
    padding: 5px;
}

ul#nav {
	width: 700px; margin: 0 auto; text-align: center; overflow: hidden;
}
	ul#nav li {
		float: left; list-style: none; 
	}
		ul#nav li a {
			display: block; width: 97px; height: 77px; 
			padding: 72px 0 0 0; margin: 0 32px 0 32px;
			font: bold 16px Helvetica, Arial, Sans-Serif; text-transform: uppercase;
			color: #000000; text-shadow: 0 1px 3px #c4bda6; text-decoration: none;
			
			background: url(images/label.png) 0 -149px no-repeat;
		}
			ul#nav li a:hover {
				background: url(images/label.png) 0 0 no-repeat;
				color: #eee9d9; text-shadow: 0 2px 3px #4c2222;
			}
			
			ul#nav li a.js:hover {
				background: url(images/label.png) 0 -149px no-repeat;
			}